<center>
  <p id="notice"><%= notice %></p>

  <h1><%= @person.name %></h1>

  <p>
    <strong>Twitter:</strong>
    <%= link_to("@#{@person.twitter_handle}", "http://twitter.com/#{@person.twitter_handle}", :target => "_blank") %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= link_to("@#{@person.instagram_name}","http://instagram.com/#{@person.instagram_name}", :target => "_blank") %>
  </p>

</center>

<div class="row">
  <div class="col-md-6">
    <% begin %>
      <% if not @person.twitter_handle.nil? %>
        <center><h3> Tweets </h3></center>
        <ul class="list-group">
          <% Person.pull_tweets(@person.twitter_handle).each do |tweet|%>
          <li class="list-group-item"><%= tweet %></li>
          <% end %> 
        </ul>
      <% end%>
    <%rescue%>
    <% end%>
  </div>
  
  <div class="col-md-6">
    <center>
      <h3> Instagrams </h3>
      <div id="pics">
        <% if not @person.instagram_name.nil? %>
          <% data = Person.pull_instagrams(@person.instagram_id) %>
          <% data.each do |items| %>
            <div class="box panel panel-default">
              <%= image_tag items[:pic].to_s %><br>
                <div class="panel-body">
                  <p><%= items[:text] %></p>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </center>
  </div>
</div>

<center>
  <%= link_to 'Destroy', @person, method: :delete, data: { confirm: 'Are you sure?' } %>  |
  <%= link_to 'Edit', edit_person_path(@person) %> |
  <%= link_to 'Back', people_path %>
</center>